<!DOCTYPE html>
<html>
  <head>
    <title>Caffe Share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>


    <%= render 'layouts/header' %>
    <div class="d-flex justify-content-center align-items-center min-vh-75">
      <div class="container text-center text-secondary">
        <%= yield %>
        

      </div>
    </div>
    <%= render 'layouts/footer' %>



  </body>
</html>
